.chat{
    padding-left: 0.5px;
    width: 65%;   
}   
.chat-body{
    
    
    overflow: auto;
    max-height: 90%;
    height: 90%;
    width: 100%;
    background-color:#0e1621;
    display: flex;
    flex-direction: column;
}
.chat-footer{
    display: flex;
    background-color: #17212b;
    height: 5%;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.chat-footer-text-area{
    max-width:90%;
    min-width: 85%;
}
.message-text{
    background-color:#17212b;
    border-width: 0;
    resize: none;   
    color: white;
    width: 100%;
    max-height: 100%;    
    font-size: 80%;
    font-family: 'Roboto', sans-serif;
}
.message-text:focus, input:focus{
    outline: none;
}
.chat-footer-item{
    width:  100%;
}
.chat-footer-item-image{
    width: 70%;
}








::-webkit-scrollbar {
    width: 0.5%;
   
  }  /*
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0.5% #075ee2;
    border-radius: 4px;
    background: transparent;
  }
  */
  
::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 4px;
}
.chat-body:hover::-webkit-scrollbar-track {    
    
    background: #242a33;    
}
.chat-body:hover::-webkit-scrollbar-thumb {
    background-color: #4f555c;
}
