
.chat-body{
    overflow: auto;
    max-height: 90%;
    height: 90%;
    width: 100%;
    background-color:#0e1621;
    display: flex;
    flex-direction: column;
}
.chat-footer{
    display: flex;
    background-color: #17212b;
    height: 5%;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.chat-footer-text-area{
    max-width:90%;   
    width: 85%;
    min-width: 60%;
    font-size: 80%;
}
.chat-footer-item{
    height: 100%;
    width: 4%;
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100%;   
}
.chat-footer-item:hover{
    color: white;
    cursor: pointer;
}
.chat-footer-item-image{
    width: 60%;
}
.message-text{
    background-color:#17212b;
    border-width: 0;
    resize: none;   
    color: white;
    width: 100%;
    max-height: 100%;    
    font-size: 70%;
    font-family: 'Roboto', sans-serif;
}
.message-text:focus, input:focus{
    outline: none;
}
::-webkit-scrollbar {
    width: 0.5%;   
  }   
::-webkit-scrollbar-thumb {   
    background-color: transparent;
    border-radius: 4px;
}
.chat-body:hover::-webkit-scrollbar-track {       
    background: #242a33;        
}
.chat-body:hover::-webkit-scrollbar-thumb {
    background-color: #4f555c;   
}
