.chat-list-header-text{
    background-color:#242f3d; 
    padding: 1% 0.5%;
    margin: 3%;  
    border-width: 0;
    border-radius: 3px;
    resize: none;   
    color: white;
    width: 94%;
    height: 1.7em;
    min-height: 1em;
    font-size:80%;
    font-weight: 100;
    letter-spacing: 0.7pt;
    display: flex;
    align-items: center;
    font-family: 'Roboto', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.chat-list-header-text:focus, input:focus{
    outline: none;
}

.chat-list-body{
    display: flex;
    flex-direction: column;    
    overflow-y: scroll;   
    scrollbar-width: none;    
}
.chat-list-body-element{
    height: 60px;
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;    
    justify-content: flex-start;

    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none; 
}

/*hover and click*/
.chat-list-body-element:hover{    
    transition: background-color 0.3s;
    background-color: #25303e; 
    outline: 0px solid transparent;   
    cursor: pointer;
}
.chat-list-body-element:focus {    
    transition: background-color 1s;
    background-color: #2b5278; 
    outline: 0px solid transparent;   
    color: white;   
}
.chat-list-body-element:focus .chat-list-body-element-message{    
    transition: 1s;
    color: white;
  }
/*_____________________*/


/*avatar*/
.chat-list-body-element-avatar{   
    display: flex;
    align-items: center;    
    align-self: center;
    width: 60px;   
    padding-left: 1%;

}
.chat-list-body-element-avatar-image{   
  width: 95%;
  padding-left: 5%;
}
/*_____________________*/


/*name-message*/
.chat-list-body-element-name-message{
    padding-left: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;    
    font-size: 0.80em;
}
.chat-list-body-element-name{
    padding-top: 0.5vh;
    align-self: flex-start;
}
.chat-list-body-element-message{
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    align-self: flex-start;
    color: #7f91a4;
}

/* date-unread */
.chat-list-body-element-date-unread{
    
    
    width: 15%;    
    display: flex;
    flex-direction: column;
    justify-content: space-around;   
    font-size: 80%;     

}

.chat-list-body-element-date{
    align-self: flex-end;
    padding-right: 1em;
    color: #7f91a4;  
    display: flex;
    word-wrap: break-word;
}
.chat-list-body-element-unread-text{
    align-self: flex-end;
    width: fit-content;
    height: fit-content;
    padding: 5% 7%;
    background-color: #38485e;
    border-radius: 100%;
} 
.chat-list-body-element-unread{   
    display: flex;
    justify-content: flex-end;
    padding-right: 1em;
    
  
    
}