.left-menu{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 70%;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;    
}
.left-menu{
    background-color:#0e1621;
    width: 5%;
}
.left-menu-element{
    margin-top: 10%;
    margin-bottom: 5%;
    width: 100%;
    display: flex;
  /*  justify-content: center;*/
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.left-menu-element:hover{    
cursor: pointer;
}
.left-menu-element:focus{    
    transition: background-color 0.7s;
    background-color: #25303e; 
    outline: 0px solid transparent;
    transition: color 0.8s;
    color: #5eb5f7;

}
.left-menu-element-icon{
    width: 60%;
}