.messages {
  padding-top: 1%; 
  align-self: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  line-height: 1em;
  font-size: 0.6em;
  font-weight: 300;
  letter-spacing: 0.05em;
}
.message-left { 
  margin-bottom: 1%;
  margin-top: 1%;
  max-width: 85%;
  align-self: flex-start;  
  margin-left: 9px;
  background-color: #182533;
  border-radius: 5px;
  display: inline-block;
  padding: 10px 18px;
  position: relative;
  vertical-align: top;    
}
.message-left::before { content: ''; position: absolute;
  width: 0; height: 0; left: -7px;
  bottom: 3%;
  border-top: 4px solid transparent;
  border-right: 8px solid #182533;
  border-bottom: 4px solid transparent;   
}
.message-right {  
  margin-bottom: 1%;  
  margin-top: 1%;
  max-width: 85%;
  align-self: flex-end;
  margin-right: 9px;
  background-color: #2b5278;
  border-radius: 5px;
  display: inline-block;
  padding: 10px 18px;
  position: relative;
  vertical-align: top;          
}
.message-right::before {
  content: ''; position: absolute;
  width: 0; height: 0; right: -7px;
  bottom: 3%;
  border-top: 4px solid transparent;
  border-left: 8px solid #2b5278;
  border-bottom: 4px solid transparent;  
}
.message-image{
  align-self: center;
  width: 85%;
  max-width: 250px;
  
}
.message-body-text{
  font-size: 80%;
 
}
.message-body{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  justify-content: space-around;
}
.message-body-date-seen{
  align-self: flex-end; 
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-left: 5px;
  
}
.message-body-date{
 padding-top: 10%;
 padding-right: 5px;
  font-size: 0.8em;
  color: #7f91a4;
}
.message-body-seen{  
  align-self: flex-end;
  font-size: 0.6em;
  padding-right: 3px;
}