@import "reset.css";
@import "message.css";
@import "header.css";
@import "left-menu.css";
@import "chat-list.css";
@import "chat.css";
@import "chat-header.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300&display=swap');

html{
    font-family: 'Roboto', sans-serif;
    min-width:800px;
    min-height: 500px;
    font-size: 100%;
}
body{    
    color: white;
    background-color: #0e1621;    
    display: flex;
    flex-direction: column;
    height: 100vh;   
}
.main-window{    
    background-color:black;
    display: flex;
    flex-direction: row;
    height: 98%; 
    justify-content: center;          
}
.chat{
    padding-left: 0.5px;
    width: 65%;   
}   
.chat-list{
    display: flex;
    flex-direction: column;
    background-color:#17212b;
    width: 30%;
    font-size: 70%;
}
.header{
    display: flex;
    justify-content:flex-end;   
    background-color: #242f3d;        
    height: 2vh;    
}

.left-menu{
    background-color:#0e1621;
    width: 5%;
    font-size: 50%;
}
.chat-header{
    height: 5%;
    background-color:#17212b;
    font-size: 65%;
}
