@import "reset.css";
@import "message.css";
@import "header.css";
@import "left-menu.css";
@import "chat-list.css";
@import "chat.css";
@import "chat-header.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300&display=swap');

html{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
}
body{    
    height: 100vh;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content:flex-end;  
    background-color: #242f3d;  
    height: 20px;
}
.main-window{    
    background-color:black;
    display: flex;
    flex-direction: row;
    height: calc(100vh - 20px);
    width: 100%;
    justify-content: center;          
}
.chat{
    padding-left: 0.5px;
    width: 65%;
    height: 100%;
    min-height: 500px;
}   
.chat-list{
    display: flex;
    flex-direction: column;
    background-color:#17212b;
    width: 31%;
    font-size: 70%;
    height: 100%;
    min-height: 480px;
    min-width: 290px;
}
.left-menu{
    background-color:#0e1621;
    font-size: 50%;
    width: 4%;
    min-width: 70px;    
    height: 100%;
    min-height: 480px;    
}
.chat-header{
    height: 55px;
    min-height: 3em;
    background-color:#17212b;
    font-size: 65%;
    display: flex;
    justify-content:flex-start;
    flex-direction: row;    
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;         
}


@media only screen and (max-width:900px){
    .message-right{
        align-self: flex-end;
    } 
}
@media only screen and (max-width:700px){
    .chat-list{
       width: 0%;
       min-width: 0%;
       visibility: hidden;
    }
    .left-menu{
        width: 4%;
    }
    .chat{
        width: 94%;
    }
}