@import "reset.css";
@import "message.css";
@import "header.css";
@import "left-menu.css";
@import "chat-list.css";
@import "chat.css";
@import "chat-header.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300&display=swap');

html{
    font-family: 'Roboto', sans-serif;
    min-width:800px;
    min-height: 600px;
}
body{    
    color: white;
    background-color: #0e1621;    
    display: flex;
    flex-direction: column;
    height: 100vh;   
}
.main-window{    
    background-color:black;
    display: flex;
    flex-direction: row;
    height: 98%; 
    justify-content: center;          
}


